*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

.operations{
    width: 100%;
    overflow-wrap: break-word;
}

.results{
    width: 100%;
    overflow-wrap: break-word;
}

.calculator{
    border: 5px solid black;
    border-radius: 1em;
    width: 25em;
    height: 38em;
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    padding: 0.3em;
}
.screen{
    border: 5px solid black;
    border-radius: 0.5em;
    height: 10rem;
    margin: 0.5em;
    background-color: #eaf0fb;
}

.screen .controls{
    width: 100%;
}

.operators{
    display: flex;
    width: 100%;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.btn{
    width: 250%;
    height: 250%;
    font-size: 2em;
    padding: 1rem;
    margin:0 auto;
    border-radius: 10%;
    background-color: #eaf0fb;
    margin: 0.1em;
    text-align: center;
}

.btn.operate{
    background-color: #c2e7ff;
}

.btn.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.backspace{
    width: 35px;
    height: auto;
    position: relative;
    top: 5px;
    right: 1px;
    
}

.point{
    position: relative;
    bottom: 10px;
}

.btn.ac{
    background-color: #c4eed0;
}

.btn.equal{
    background-color: #d3e3fd;
}

/* .kb{
    position: relative;
    bottom: 3px;
    font-size: 13pt;
} */

.btn:hover{
    background-color: #7d81867e;
}

p{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    width: 100%;
}

.btn.operate.btn.equal{
    width: 650%;
    border-radius: 25px;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.bigFont{
   /* font-weight: 700;*/
    font-size: 2em;
    word-wrap: break-word;
    white-space: pre-line;
}
